/* nav bar and header chnages */
  .dropdown-item{
     font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}

.nav-link dropdown-toggle{
    font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}


.nav-link{
     font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}


.nav-item{
  font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}



  .breadcrumb{
               font-family: ocr-a-std, monospace;
font-style: normal;
font-weight: 400;
            background: black;
        }
        
        .breadcrumb-item active{
            color: white !important;
        }
        
        .breadcrumb-item{
            color: white !important;
        }

.navbar-brand
{
    
    text-align: center;
     display: inline-block;
  float: none;
  vertical-align: top;
   font-family: stencil-creek, sans-serif;
    font-size: 39px;
}

        
/* for now this makes the navbar text resposnive however it is not centre */

.none{
color: transparent;
}

.black{
    background-color: black;
}

.my-4{
    text-align: center;
}

 /* <!-- style for country selction buttons -->*/
    
  
        
        .my-4{
            text-align: center;
        }
 

      /* link buttons */

.links {
  background-color: transparent;
     text-shadow: 0 0 33px black;
  color: black;
  font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
    font-size: 100%;
  padding: 2px 15px;
  text-align: center;
    -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
     border: solid #0dc000 1px;
box-shadow: inset 0 0 5px 1px #0dc000;
    box-shadow: 0 0 5px 1px #0dc000;
  text-decoration: none;


}

links:hover, links:active {
  background-color: transparent;
    color: white;
     text-shadow: 0 0 5px #0dc000;
   border: solid #0dc000 5px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   text-decoration: none;
 }

 .linkss {
  background-color: transparent;
     text-shadow: 0 0 33px black;
  color: white;
  font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
    font-size: 100%;
  padding: 1px 5px;
  text-align: center;
    -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
     border: solid #0dc000 1px;
box-shadow: inset 0 0 5px 1px #0dc000;
    box-shadow: 0 0 5px 1px #0dc000;
  text-decoration: none;


}

linkss:hover, linkss:active {
  background-color: transparent;
    color: white;
     text-shadow: 0 0 5px #0dc000;
   border: solid #0dc000 5px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   text-decoration: none;
 }
/* search button!!!! search button !!!!*/

 

.country-search{
  display: block;
  margin-left: 40%;
  width: 40%;

}

/* links */
        

.col-md-8{
    background-color:  #e0e0e0!important;

}
.col-md-4{
    background-color:  #e0e0e0!important;

} 

