/* nav bar and header chnages */
  .dropdown-item{
     font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}

.nav-link dropdown-toggle{
    font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}


.nav-link{
     font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}


.nav-item{
  font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
}



  .breadcrumb{
               font-family: ocr-a-std, monospace;
font-style: normal;
font-weight: 400;
            background: black;
        }
        
        .breadcrumb-item active{
            color: white !important;
        }
        
        .breadcrumb-item{
            color: white !important;
        }

.navbar-brand
{
    
    text-align: center;
     display: inline-block;
  float: none;
  vertical-align: top;
   font-family: stencil-creek, sans-serif;
    font-size: 39px;
}

        
/* for now this makes the navbar text resposnive however it is not centre */

.none{
color: transparent;
}

.black{
    background-color: black;
}

.my-4{
    text-align: center;
}

 /* <!-- style for country selction buttons -->*/
    
  
        
        .my-4{
            text-align: center;
        }
        
        .UnitedKingdom {
    position: absolute;
    top: 94%;
    left: 57%;
            transform: translate(-50%, -50%);
}

        .UnitedStates {
    position: absolute;
    top: 39%;
    left: 35%;
    transform: translate(-50%, -50%);
        
}

        
        
        .Vietnam {
    position: absolute;
    top: 76%;
    left: 82%;
    transform: translate(-50%, -50%);
}

        .Russia {
    position: absolute;
    top: 39%;
    left: 85%;
    transform: translate(-50%, -50%);
}

        
        .Brazil1 {
    position: absolute;
    top: 76%;
    left: 43%;
    transform: translate(-50%, -50%);
}


      /* link buttons */

.links {
  background-color: transparent;
     text-shadow: 0 0 33px black;
  color: darkgreen;
  font-family: ocr-a-std, monospace !important;
font-style: normal;
font-weight: 400;
    font-size: 100%;
  padding: 2px 15px;
  text-align: center;
    -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
     border: solid #11FF00 3px;
box-shadow: inset 0 0 10px 1px #11FF00;
    box-shadow: 0 0 10px 1px #11FF00;
  text-decoration: none;


}

links:hover, links:active {
  background-color: transparent;
    color: white;
     text-shadow: 0 0 5px #11FF00;
   border: solid #11FF00 5px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   text-decoration: none;
 }

/* search button!!!! search button !!!!*/

 

.UnitedStatess{
  display: block;
  margin-left: 43%;
  margin-right: auto;
  width: 30%;
  
}

/* links */
        

.col-md-8{
    background-color:  #e0e0e0!important;

}
.col-md-4{
    background-color:  #e0e0e0!important;

} 

